{% extends 'store/base.html' %}
{%load static%}

{% block title %}
<title>Интернет-магазин здоровых продуктов</title>
{% endblock %}

{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url(static/images/bg_1.jpg);">
<section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
    					<li><a href="#" class="active">Все</a></li>
    					<li><a href="#">Овощи</a></li>
    					<li><a href="#">Фрукты</a></li>
    					<li><a href="#">Соки</a></li>
    					<li><a href="#">Семена</a></li>
    				</ul>
    			</div>
    		</div>
    		<div class="row">
    			<d<div class="hero-wrap hero-bread" style="background-image: url(static/images/bg_1.jpg);">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"></span></p>
            <h1 class="mb-0 bread">Продукты</h1>
          </div>
        </div>
      </div>
    </div>iv class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/bell_pepper.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-1.jpg" alt="Colorlib Template">
    						<span class="status">30%</span>
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Болгарский перец</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span class="mr-2 price-dc">&#x20bd 300.00</span>
										<span class="price-sale">&#x20bd 210.00</span>
									</p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="1">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="1"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="1" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="1"></div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/strawberry.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-2.jpg" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Клубника</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span>&#x20bd 500.00</span>
									</p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="2">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="2"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="2" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="2"></div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/green_beans.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-3.jpg" alt="Colorlib Template">
	    					<div class="overlay"></div>
	    				</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Стручковая фасоль</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span>&#x20bd 250.00</span>
									</p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="3">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="3"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="3" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="3"></div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/purple_cabbage.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-4.jpg" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Краснокочанная капуста</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span>&#x20bd 90.00</span>
									</p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="4">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="4"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="4" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="4"></div>
    						</div>
    					</div>
    				</div>
    			</div>


    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/tomatoes.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-5.jpg" alt="Colorlib Template">
    						<span class="status">25%</span>
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Помидоры</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span class="mr-2 price-dc">&#x20bd 240.00</span>
										<span class="price-sale">&#x20bd 180.00</span>
									</p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="5">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="5"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="5" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="5"></div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/broccoli.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-6.jpg" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Брокколи</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span>&#x20bd 320.00</span>
									</p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="6">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="6"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="6" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="6"></div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/carrots.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-7.jpg" alt="Colorlib Template">
	    					<div class="overlay"></div>
	    				</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Морковь</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span>&#x20bd 50.00</span>
									</p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="7">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="7"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="7" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="7"></div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/fruit_juice.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-8.jpg" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Фруктовый сок</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span>&#x20bd 120.00</span>
									</p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="8">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="8"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="8" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="8"></div>
    						</div>
    					</div>
    				</div>
    			</div>

    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/onion.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-9.jpg" alt="Colorlib Template">
    						<span class="status">20%</span>
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Лук</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span class="mr-2 price-dc">&#x20bd 40.00</span>
										<span class="price-sale">&#x20bd 32.00</span>
									</p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="9">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="9"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="9" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="9"></div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/apple.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-10.jpg" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Яблоки</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span>&#x20bd 130.00</span>
									</p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="10">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="10"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="10" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="10"></div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/garlic.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-11.jpg" alt="Colorlib Template">
	    					<div class="overlay"></div>
	    				</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Чеснок</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span>&#x20bd 150.00</span>
									</p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="11">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="11"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="11" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="11"></div>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="product/chilli.html" class="img-prod">
							<img class="img-fluid" src="static/images/product-12.jpg" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Перец Чили</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price">
										<span>&#x20bd 400.00</span>
									</p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center" data-product-id="12">
	    								<span><i class="ion-ios-add-circle-outline" data-product-id="12"></i></span>
	    							</a>
	    							<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="#" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart-empty" data-product-id="12" data-state="inactive" data-action="toggle"></i></span>
	    							</a>
    							</div>
								<div class="custom-popup-message" data-product-id="12"></div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>

    </section>
{% endblock %}